.banner{
    width: 100%;
    text-align: center;
}

.banner-img{
    height: calc(100vh - 72px); /*con 100vh ocupa toda la altura del browser, le resto los 72px de la altura del menu*/
    width: 100%;
}

.banner-titulo{
    color: #fdfdfd;
    font-family: Pacifico, cursive;
    font-size: 5rem;
    left: 50%;
    position: absolute;
    width: 100%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    top: 50%;
    transform: translate(-50%, -50%);
}


@media screen and (max-width:768px){
    .banner-titulo{
        font-size: 3rem;
    }

    .banner-img{
        object-fit: cover;
      }
}